<div class="max-w-6xl m-auto">
    <div class="flex flex-wrap items-center justify-between">
      <% @releases.each do |release| %>
        <article class="border pt-1 pb-1 pr-1 pl-1 mb-3">
          <%= link_to image_tag(release.resized_photo), release %>
        </article>
      <% end %>
    </div>
</div>